.content_search_avatar {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content_search_avatar_fixed {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content_search_lbl{
  height: 50px;
  padding-right: 10px;
  line-height: 50px;
}
.contentMargin{
  margin-left:40%; 
}
.contentMarginBottom{
  margin-top: 10px;
  margin-left:40%; 
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 50%;
}
.screenThumb{
  position: absolute;
  width: 40%;
  top: 0;
  margin-left: -14px;
  border-radius: 4px 0px 0px 4px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pulses{
  position: absolute;
  background:rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  left: 22%;
  right: 0;
  top: 25%;
  bottom: 0;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  padding-top: 18px;
  h2{
    color: #FFF;
    margin: 0;
    margin-top: -10px;
    line-height: 20px;
  }
}