:global {
  .card {
    min-width: 180px;

    margin-left: -70px;
    .content {
      text-align: left;
    }
  }
  .ant-list-vertical .ant-list-item{
    padding: 0;
    margin-top: -10px;
  }
  .ant-list-item-content .card{
    cursor: pointer;
  }
  .ui.cards > .card .meta, .ui.card .meta{
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px !important;
  }
}