.content_search_avatar {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content_search_lbl{
  height: 50px;
  padding-right: 10px;
  line-height: 50px;
}