﻿:global {
  .steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  text-align: center;
  padding: 10px;
}

.steps-action {
  margin-top: 24px;
  text-align: center;
}



}