body {
    height: 100%;
    overflow-y: hidden;
    background: #3c3c3c1c;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// scrollbar
::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
:global .ant-breadcrumb {
    & > span {
        &:last-child {
            color: #999;
            font-weight: normal;
        }
    }
}
:global .ant-breadcrumb-link {
    .anticon + span {
        margin-left: 4px;
    }
}
:global .ant-table {
    .ant-table-thead > tr > th {
        text-align: center;
    }
    .ant-table-tbody > tr > td {
        text-align: center;
    }
    &.ant-table-small {
        .ant-table-thead > tr > th {
            background: #f7f7f7;
        }
        .ant-table-body > table {
            padding: 0;
        }
    }
}
:global .ant-table-pagination {
    float: none!important;
    display: table;
    margin: 16px auto !important;
}
:global .ant-popover-inner {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
:global .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal {
        top: 0;
        .ant-modal-body {
            max-height: 600px;
            overflow-y: auto;
        }
    }
}
:global .ant-form-item-control {
    vertical-align: middle;
}
@import "../skin.less";