.dashboardContentThumb {
    width: 100%;
    height: 120px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .plusePosition{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    top: 25px;
  }
  .plusePositionLbl{
    font-size: 10px;
  }
  .contentDateRange{
    text-align: center;
    bottom: 0;
    background:rgba(0, 0, 0, 0.3);
    color: #FFF;
    width: 100%;
    border-radius: 0px 4px 0px 0px;
  }