.table {
  width: 100%;
  td.avatar {
    div {
      width: 100px;
      height: 80px;
      padding: 20px;
      margin: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
      -moz-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
      box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
    }
  }

  :global {
    .list-thumb{
      width: 100px;
      height: 80px;
      padding: 20px;
      margin: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
      -moz-box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
      box-shadow: 0px 0px 63px -21px rgba(0,0,0,0.40);
    }
    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      height: 40px;

      &:nth-child(1) {
        width: 30%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 20%;
      }
      &:nth-child(5) {
        width: 10%;
      }
    }

    .ant-table-thead {
      & > tr {
        transition: none;
        display: block;

        & > th {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .ant-table-tbody {
      & > tr {
        transition: none;
        display: block;
        border-bottom: 1px solid #f5f5f5;

        & > td {
          height: 100px;
          border-bottom: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

        &.ant-table-expanded-row-level-1 > td {
          height: auto;
        }
      }
    }
  }
}